@supports not (display: grid) {
  body:before {
    content: "Your browser does not support the CSS grids.";
    color: white;
    background: tomato;
    padding: 2rem;
    text-align: center;
    display: block;
  }
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
