@font-face {
  font-family: "nanum_penregular";
  src: url("nanumpenscript-regular-webfont.woff2") format("woff2"),
    url("nanumpenscript-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@supports not (display: grid) {
  body:before {
    content: "Your browser does not support the CSS grids.";
    color: white;
    background: tomato;
    padding: 2rem;
    text-align: center;
    display: block;
  }
}

@counter-style paws {
  system: cyclic;
  symbols: "🐾";
  suffix: " ";
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "nanum_penregular", sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}
